h1{
  margin: auto;
}

h2{
  margin: 0;
}

p{
  margin: 1px;
}

body{
  margin: 0;
}

.thDiv{
  margin-left: auto;
  margin-right: auto;
  background-color: #BABD42;
  height: 150px;
  width: 100%;
}

.TopHeader{
  color: #82954B;
  font-family: sans-serif;
  font-size: 75px;
  text-align: center;
  padding-top: 30px;
}

.paragraphs{
  text-align: center;
  font-family: sans-serif;
  background-color: #FFEF82;
}
.firstP{
  padding-top: 100px;
}
.secondP{
  padding-top: 100px;
}
.thirdP{
  padding-top: 100px;
}
.fourthP{
  padding-top: 100px;
}
.fifthP{
  padding-top: 100px;
}
